<!DOCTYPE html>
<html>
	<body>
    	<form action="http://localhost:5000/result" method="post">
      		<h1>Compare texts!</h1>
      		<div>
      			<p>Please enter the template text:</p>
      		</div>
	  		<div>
	  			<textarea type="text" name="text1" rows='4' cols='50'>This is the template box.</textarea>
	  		</div>
	  		<div>
      			<p>Please enter the text to compare:</p>
      		</div>
	  		<div>
	  			<textarea type="text" name="text2" rows='4' cols='50'>This is the content box.</textarea>
	  		</div>
	  		<div>
	  			<p>Please enter how longest gram you want to use:</p><input type="text" name="gram">
	  		</div>
	  		<div>
	  			<input type='submit' value="Submit">
	  		</div>
    	</form>
  	</body>
</html>
